@use "./util";
@use "./media-query";

body {
    @include util.txtPrimary;
}

a {
    @include util.txtPrimary;
}

.header {
    &__link {
        text-decoration: none;
        color: util.$txtColorMain;
        padding: 0 1em 0 0;

        @include media-query.respond("50.625em") {
            font-size: 0.9rem;
        }

        @include media-query.respond("45em") {
            font-size: 1rem;
            text-align: center;
            padding: 0;
        }

        @include media-query.respond("26.75em") {
            font-size: 0.8rem;
        }
    }

    &__link-icon {
        color: util.$txtColorSub;
    }
}

.newsletter {
    background-color: util.$bgSecondary;

    &__title {
        @include util.txtSizeWeight(2.5rem);

        @include media-query.respond("79em") {
            font-size: 2.4rem;
        }

        @include media-query.respond("56.5em") {
            font-size: 2rem;
        }

        @include media-query.respond("53.125em") {
            font-size: 1.75rem;
        }
    }

    &__txt {
        @include util.txtSizeWeight(1.5rem);
        color: util.$primaryTheme;
        padding: 1rem;

        @include media-query.respond("79em") {
            font-size: 1.35rem;
        }

        @include media-query.respond("56.5em") {
            font-size: 1.25rem;
        }

        @include media-query.respond("53.125em") {
            font-size: 1.15rem;
        }

        @include media-query.respond("50.625em") {
            text-align: center;
            line-height: 2rem;
        }

        @include media-query.respond("26.75em") {
            font-size: 1rem;
        }
    }

    &__label {
        @include media-query.respond("53.125em") {
            font-size: 0.95rem;
        }

        @include media-query.respond("26.75em") {
            font-size: 0.85rem;
        }

        @include media-query.respond("25em") {
            font-size: 0.76rem;
        }
    }

    &__form {
        font-family: util.$barlowBold;
        text-transform: uppercase;
        margin: 1rem;
        gap: 1rem;
    }

    &__input {
        position: relative;
        border: none;
        border-radius: 4px;
        background-color: util.$footerBg;
    }

    &__name-prompt {
        @include util.promptPosition(58.2%);
        @include util.prompt(util.$namePrompt, util.$colorTxtPrompt, 4px, 8px);
        @include util.promptAnimation;

        &--active {
            @include util.promptActive;
        }
    }

    &__email-prompt {
        @include util.promptPosition(61%);
        @include util.prompt(util.$bgSecondary, util.$colorTxtPrompt, 4px, 8px);
        @include util.promptAnimation;
    }

    &__email-error {
        background-color: util.$errorPrompt;

        &--active {
            @include util.promptActive;
        }
    }

    &__email-success {
        background-color: util.$successPrompt;

        &--active {
            @include util.promptActive;
        }
    }

    &__submit {
        font-family: util.$barlowBold;
        font-size: 1.2rem;
        text-transform: uppercase;
        background-color: util.$bgWhite;
        @include util.hover(util.$primaryTheme);

        @include media-query.respond("53.125em") {
            font-size: 0.99rem;
        }

        @include media-query.respond("26.75em") {
            font-size: 0.9rem;
        }
    }

    &__alert {
        @include util.newsletterAlertPrompt;
        @include util.newsletterAlertHidden;

        &.error {
            background-color: util.$formPrompt;
        }

        &.success {
            background-color: util.$successPrompt2;
        }

        &--active {
            @include util.newsletterAlertShow;
        }

        &-close {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s all ease-in-out;

            @include util.hover(util.$colorBlack);

            @media (hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        &-icon {
            width: 100%;
        }

        &-txt {
            text-align: center;
            font-size: 1.1rem;
            color: util.$colorBlack;
        }
    }
}

.highlights {
    width: 100%;

    &__title {
        @include util.txtSizeWeight(2rem);

        @include media-query.respond("79em") {
            font-size: 1.75rem;
        }

        @include media-query.respond("56.5em") {
            font-size: 1.6rem;
        }

        @include media-query.respond("53.125em") {
            font-size: 1.4rem;
            margin: 5rem 0 2rem 0;
        }

        @include media-query.respond("26.75em") {
            font-size: 1.3rem;
            text-align: center;
            line-height: 2rem;
        }
    }

    &__img {
        width: 100%;
        border-radius: 0.5rem;

        @include media-query.respond("53.125em") {
            @include util.aspect-ratio;
        }

        @include media-query.respond("26.75em") {
            width: 100%;
            aspect-ratio: unset; //Esto es para remover el aspect-ratio previo
        }
    }

    &__img-position {
        object-position: 0 8%;
    }

    &__ln {
        color: util.$txtColorSub;
    }

    &__txt {
        font-size: 1.6rem;

        @include media-query.respond("79em") {
            font-size: 1.4rem;
            padding: 1rem;
        }

        @include media-query.respond("56.5em") {
            font-size: 1.39rem;
            padding: 1rem 0.5rem;
        }

        @include media-query.respond("53.125em") {
            font-size: 1.3rem;
        }

        @include media-query.respond("26.75em") {
            font-size: 1.1rem;
        }

        @include media-query.respond("25em") {
            font-size: 1rem;
        }
    }

    &__span {
        color: util.$primaryTheme;
        font-weight: 700;
    }
}

.comments {
    &__title {
        @include util.txtSizeWeight(2rem);

        @include media-query.respond("53.125em") {
            font-size: 1.4rem;
        }

        @include media-query.respond("26.75em") {
            font-size: 1.3rem;
        }
    }

    &__card {
        background-color: util.$bgOther;
        border-radius: 1rem;
    }

    &__img {
        width: 75%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
    }

    &__username {
        font-family: util.$barlowBold;
        font-size: 1rem;
        text-transform: uppercase;
    }

    &__txt {
        font-family: util.$barlowLight;
        text-align: left;
    }
}

.headlines {
    &__img {
        width: 100%;
        aspect-ratio: 1.65;
        object-fit: cover;
        margin: 0 0 1rem 0;
    }

    &__link {
        &-section {
            text-decoration: none;
            font-family: util.$barlowBold;
            text-transform: uppercase;
            color: util.$primaryTheme;
        }

        &-txt {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 600;

            @include media-query.respond("56.5em") {
                font-size: 1.428rem;
            }

            @include media-query.respond("25em") {
                font-size: 1.3rem;
            }
        }

        &-author {
            text-decoration: none;
            font-family: util.$barlowLight;
            color: util.$txtColorSub;
            text-transform: uppercase;
            font-size: 0.9rem;
        }
    }

    &__date {
        font-family: util.$barlowLight;
        text-transform: uppercase;
        color: util.$txtColorSub;
        font-size: 0.9rem;

        @include media-query.respond("73em") {
            font-size: 0.85rem;
        }
    }
}

.footer {
    background-color: util.$footerBg;

    &__logo {
        width: 100%;
    }

    &__title {
        font-weight: 700;
        font-size: 1rem;
        margin: 0 0 1rem 0;

        @include media-query.respond("75em") {
            font-size: 0.95rem;
        }
    }

    &__link {
        text-decoration: none;
        color: util.$colorFooterTxt;
        @include util.hover(util.$colorLinkHover);

        @include media-query.respond("75em") {
            font-size: 0.9rem;
        }
    }

    &__txt {
        opacity: 0.8;
        font-size: 0.9rem;

        @include media-query.respond("56.5em") {
            font-size: 0.8rem;
        }

        @include media-query.respond("45em") {
            line-height: 1rem;
        }

        @include media-query.respond("26.75em") {
            font-size: 0.75rem;
            text-align: center;
        }
    }

    &__link-icon {
        color: util.$txtColorMain;
    }
}

