
@font-face {
    font-family: 'Barlow-light';
    src: url('./fonts/Barlow-light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Barlow-bold';
    src: url('./fonts/Barlow-bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Playfair';
    src: url('./fonts/Playfair-display-Regular.ttf') format('truetype');
    font-display: swap;
}