@use "./media-query";
@use "./fonts";

//Fuentes

$barlowLight: "Barlow-light", Arial, Helvetica, sans-serif;
$barlowBold: "Barlow-bold", Arial, Helvetica, sans-serif;
$playfair: "Playfair", serif, Arial;

//Variables

$primaryTheme: #ed1e1e;
$txtColorMain: #404040;
$txtColorSub: #999999;
$footerBg: #fbfbfb;
$bgSecondary: #f3f3f3;
$bgWhite: #fff;
$bgOther: #eeece7;
$colorFooterTxt: #666;
$colorLinkHover: #242424;
$colorBorder: #e3e3e3;
$border: 1px solid $colorBorder;
$errorPrompt: rgba(237, 30, 30, 0.7);
$successPrompt: rgba(46, 125, 50, 0.7);
$namePrompt: rgba(255, 193, 7, 0.7);
$colorTxtPrompt: #1a1a1a;

//Mixins

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin full-width {
    width: 100%;
    box-sizing: border-box;
}

@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin txtPrimary {
    font-family: $playfair;
    color: $txtColorMain;
}

@mixin txtSizeWeight($size) {
    font-size: $size;
    font-weight: 700;
}

@mixin columnFlex {
    display: flex;
    flex-direction: column;
}

//Mixin para el collage del '.highlights' que tiene diferente layout en media-query (1168px)
@mixin aspect-ratio {
    width: 100%;
    display: block;
    aspect-ratio: 1.5;
    object-fit: cover;
}

//Hover

@mixin hover($color) {
    @media (hover: hover) {
        &:hover {
            color: $color;
            cursor: pointer;
        }
    }
}

@mixin prompt($bg, $color, $padd, $radius) {
    background-color: $bg;
    color: $color;
    padding: $padd;
    border-radius: $radius;
}

@mixin promptPosition($left) {
    position: absolute;
    left: $left;
}

@mixin promptAnimation {
    opacity: 0;
    transform: translateX(-20px);
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
    visibility: hidden;
}

@mixin promptActive {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

@mixin toggleAnimation {
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out,
        visibility 0.3s ease-in-out;
}

